<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<title>Image Classification</title>
</head>
<body>

<div class="container">
    <h1>Image Classification</h1>
    <h3>Welcome {{ user }}</h3>

    <form action="/predict" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required>
        <button type="submit">Predict</button>
    </form>

    <br>
    <a href="/logout"><button>Logout</button></a>
</div>

</body>
</html>